# Config Server Basic Auth
CONFIG_SERVER_USERNAME=
CONFIG_SERVER_PASSWORD=

# Config Server URL (Docker 컨테이너명으로 수정)
CONFIG_SERVER_URL=

# Eureka (Docker 컨테이너명으로 수정)
EUREKA_SERVER_URL=

# Keycloak JWK Set URI (Docker 컨테이너명으로 설정)
KEYCLOAK_JWK_SET_URI=

# 실행환경 설정 (개발시 dev, 운영시 prod)
SPRING_PROFILES_ACTIVE=
